<h2>Viewed Productions</h2>
<% @voting_period.productions.each do |production| %>
<p><%= production.theater %>- |  <%= production.name %>  |  Genre: <%= production.genre %>  |  Year Produced: <%= production.year %></p>

  <%= form_tag("/vote/update_show", remote: true) do %>
    <%= hidden_field_tag "seen[production_id]", production.id %>
    <%= hidden_field_tag "seen[ballot_id]", @ballot.id %>
<!--TODO ballot needs has_seen?(production_id) to check include  -->
    <%= image_submit_tag("#{@ballot.productions.include?(production) ? "checked-box.png" : "empty-box.png"}", width: "15px", id: "#{production.id}_submit", class: "checkbox") %>
  <% end %>
<% end  %>    