<h2>Viewed Productions</h2>
<% VotingPeriod.last.productions.each do |production| %>
  <%= form_tag("/vote/update_show", remote: true) do %>
    <%= production.name  %>
    <%= hidden_field_tag "seen[production_id]", production.id %>
    <%= hidden_field_tag "seen[ballot_id]", @ballot.id %>
    <%= image_submit_tag("#{@ballot.productions.include?(production) ? "checked-box.png" : "empty-box.png"}") %>
  <% end %>
<% end  %>    